@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* * FORMATO HEADER */
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css";
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(135deg, #FFD700, #CD8C00);
  grid-area: header;
  width: 100%;
}
header section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header .menuBar .mainMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  list-style: none;
}
header .menuBar .mainMenu li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  padding: 0;
}
header .menuBar .mainMenu li a {
  text-decoration: none;
  font-size: 18px;
  /* display: block; */
  color: black;
  transition: all 0.3s;
}
header .menuBar .mainMenu li a:hover, header .menuBar .mainMenu li a.active {
  color: blueviolet;
  border-bottom: 2px solid;
}

@media (max-width: 400px) {
  header {
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
  }
  header .menuBar .mainMenu {
    flex-direction: column;
    align-items: center;
  }
  header .menuBar .mainMenu li {
    margin: 10px 0;
  }
}
/* *FORMATO MAIN */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: main;
  flex-flow: column;
  overflow-x: hidden;
}
main .mainIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: column;
  width: 100%;
  margin: 20px;
  padding: 20px;
}
main .mainIndex h1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
}
main .mainIndex .videoHildaContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  padding: 20px;
  height: 500px;
  width: 100%;
  max-width: 900px;
}
main .mainIndex .videoHildaContainer .iframeHilda {
  height: 100%;
  width: 100%;
  border: none;
}
main .mainIndex section {
  margin: 20px;
  padding: 20px;
}

@media (max-width: 400px) {
  .mainIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .mainIndex .videoHildaContainer,
  .mainIndex #carouselExample {
    max-width: 560px;
    width: 100%;
    padding-bottom: 56.25%;
    max-height: 300px;
  }
}
.mainContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: column;
  margin: 20px;
  padding: 20px;
}
.mainContacto .tituloContainer {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-group {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* *FORMATO FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #FFD700, #CD8C00);
  grid-area: footer;
  width: 100%;
}
footer .logo-container p a,
footer .hiperContacto a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  transition: all 0.3s;
}
footer .logo-container p a:hover, footer .logo-container p a.active,
footer .hiperContacto a:hover,
footer .hiperContacto a.active {
  color: blueviolet;
  border-bottom: 2px solid;
}
footer .containerListaFooter .socialMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .containerListaFooter li {
  margin: 10px;
}
footer .containerListaFooter .logoSocial .loguito {
  height: 40px;
  width: 40px;
  border-radius: 85%;
  object-fit: fill;
}
footer .containerListaFooter .logoSocial .loguitoWh {
  height: 55px;
  width: 55px;
  border-radius: 85%;
  object-fit: fill;
}

@media (max-width: 400px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
  }
  footer .logo-container p a,
  footer .hiperContacto a {
    font-size: 16px;
  }
  footer .containerListaFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
  }
  footer .containerListaFooter .socialMenu {
    justify-content: center;
    margin-top: 10px;
  }
  footer .containerListaFooter .socialMenu li {
    margin: 5px 0;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/*GRILLA GENERAL */
body {
  display: grid;
  grid-template-areas: "header header header header header header header header" "main main main main main main main main" "footer footer footer footer footer footer footer footer";
  min-height: 100vh;
  background-color: #FDF5E6;
  background-repeat: repeat;
  background-color: #D4AF37;
  background-image: url("../img/O8WNEJ0.jpg");
  background-repeat: repeat;
}
body .bodyContainerIndex {
  min-height: 100vh;
}
body .logo-container .logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: fill;
  padding: 5px;
}

@media (max-width: 400px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: auto;
  }
  body .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  body .logo-container .logo {
    height: 80px;
    width: 80px;
  }
}

/*# sourceMappingURL=styles.css.map */
