header{
    width: 100%;
    .custom-navbar {
        background: linear-gradient(135deg, $secondary, $primary);
        width: 100%;
        height: 100px;
        .container-fluid{
            #navbarNav{
                ul{
                    li{
                        a{
                            text-decoration: none;
                            font-size: 18px;
                            color: $color-ahref;
                            transition: all 0.3s;
                                &:hover,
                                &.active{
                                    color: map-get($hover, color-hover);
                                    border-bottom: map-get($hover, border-hover);
                                }
                            }
                    }
                }
            }
        }

    }
}


